:root {
  --shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 6px 8px rgba(0, 0, 0, 0.2);
  --color-primario: #5E72E4;
  --color-secundario: #F9A825;
  --color-fondo: #dac8c8;
  --color-texto: #333;
  --color-texto-claro: #555;
  --color-fondo-formulario: #f0ebeb; 
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo); 
  color: var(--color-texto);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primario);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

h1:hover {
  color: var(--color-secundario);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(to right, var(--color-primario), var(--color-secundario));
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; 
}

nav ul li {
  margin-right: 20px;
  transition: transform 0.3s ease;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  transition: all 0.3s ease;
  border-radius: 6px;
  margin-right: 20px;
  display: flex;
  align-items: center; 
}

nav ul li a:hover {
  width: 85%;
  background-color: var(--color-secundario);
}

nav ul li:last-child {
  margin-right: 0;
}

.nav-links {
  margin-right: 20px;
}

.nav-links a {
  font-size: 1.2em;
  font-weight: bold;
}

nav ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#submenuTabla {
  display: none;
  position: absolute;
  background-color: var(--color-fondo);
  padding: 10px;
  border-radius: 0 0 8px 8px;
  box-shadow: var(--shadow);
  z-index: 1000;
  width: 200px; 
  transition: all 0.3s ease;
}

#submenuTabla li {
  margin: 0;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%; 
}

#submenuTabla li a {
  display: block;
  color: var(--color-texto); 
  text-decoration: none;
  transition: color 0.3s ease;
}

#submenuTabla li:hover {
  background-color: #fff; 
  box-shadow: var(--shadow-hover); 
}

form input.error {
  border-color: #ff0000;
  animation: shake 0.3s ease-in-out; 
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

nav ul li:hover #submenuTabla {
  display: block;
  transform: translateY(5px);
}

nav ul li:hover #submenuTabla li a {
  color: var(--color-texto); 
}

form {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    box-shadow: 
    0 0 20px rgba(94, 114, 228, 0.8),
    0 0 50px rgba(249, 168, 37, 0.8),
    0 0 100px rgba(255, 255, 255, 0.8);
  border: 2px solid var(--color-primario);
}

form:hover {
  animation: glow 1s ease-in-out infinite alternate; 
}

@keyframes glow {
  0% {
    box-shadow: 
      0 0 20px rgba(94, 114, 228, 0.8),
      0 0 50px rgba(249, 168, 37, 0.8),
      0 0 100px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 
      0 0 30px rgba(94, 114, 228, 1),
      0 0 60px rgba(249, 168, 37, 1),
      0 0 120px rgba(255, 255, 255, 1);
  }
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-texto);
}

form input[type="text"],
form input[type="submit"] {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus {
  border-color: var(--color-primario);
  outline: none;
}

form input[type="submit"] {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"] {
  background-color: var(--color-secundario);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input[type="submit"]:hover {
  background-color: var(--color-primario);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

form select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--color-primario);
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: linear-gradient(45deg, transparent 50%, var(--color-primario) 50%),
                    linear-gradient(135deg, var(--color-primario) 50%, transparent 50%);
  background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

form select:hover {
  border-color: var(--color-secundario);
}

table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 
    0 0 20px rgba(94, 114, 228, 0.8),
    0 0 50px rgba(249, 168, 37, 0.8),
    0 0 100px rgba(255, 255, 255, 0.8); 
  border: 2px solid var(--color-primario);
}

table:hover {
  animation: glow 1s ease-in-out infinite alternate; 
}

@keyframes glow {
  0% {
    box-shadow: 
      0 0 20px rgba(94, 114, 228, 0.8),
      0 0 50px rgba(249, 168, 37, 0.8),
      0 0 100px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 
      0 0 30px rgba(94, 114, 228, 1),
      0 0 60px rgba(249, 168, 37, 1),
      0 0 120px rgba(255, 255, 255, 1);
  }
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: var(--color-primario);
  font-weight: bold;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

table td {
  border-right: 1px solid #ddd;
}

table td:last-child {
  border-right: none;
}

#botonCambioTema {
  margin-left: auto; 
  display: flex;
  align-items: center;
  padding: 0 15px; 
}

#cambiarTema {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #FFC300, #FF5733);
}

#cambiarTema:hover {
  background-color: #FF5733;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.miBoton {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.miBoton.dark {
  background-color: #2E3769; 
}


.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.boton-container > * {
  margin: 10px;
}

.formulario-container {
  display: none;
  max-width: 750px;
  width: 100%;
  padding: 20px;
  background-color: #efe7e7; /* Cambiado el color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
}

.formulario-container.hidden {
  display: none;
}

.BotonParaConsulta {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  height: 50px;
}

.BotonParaConsulta:hover {
  background-color: var(--color-secundario);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
footer {
  background-color: var(--color-primario);
  color: #fff;
  padding: 40px 0;
  text-align: center;
  margin-top: auto;
  background: linear-gradient(to right, var(--color-primario), var(--color-secundario));
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}
