body {
    background-color: #0c0c1b;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #e74c3c;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    flex-grow: 1;
}

footer {
    background-color: #1f1f4c;
    color: white;
    text-align: center;
    padding: 1em;
}

header {
    background-color: #1f1f4c;
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0 4px 8px white;
}

h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.carta {
    width: 351px;
    height: 351px;  
    margin: 10px;
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    border: 1px solid #0c0c1b;
    transition: transform 0.5s ease;
    border-radius: 20px;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c1b;
    box-shadow: 0 4px 8px white;
    border: 2px solid white;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.face img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
    border: 1px #0c0c1b;
}

.carta.clicked .face {
    transform: rotateY(180deg);
}

@keyframes shuffleAnimation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.carta.shuffle {
    animation-name: shuffleAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#mensajes p {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px white;
    margin-bottom: 10px;
}

