/* Variables */
:root {
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  --color-primario: #5E72E4;
  --color-secundario: #F9A825;
  --color-terciario: #45ADA8;
  --color-fondo: #ede0e0;
  --color-texto: #333;
  --font-sans: 'Arial', sans-serif;
  --font-serif: 'Times New Roman', serif;
  --border-radius-default: 6px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts and Body */
body {
  font-family: var(--font-sans);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 5px;
}

#botonCambioTema {
  margin-left: auto; /* Para alinear el botón a la derecha */
  display: flex;
  align-items: center;
  padding: 0 15px; /* Agrega espacio alrededor del botón */
}

#cambiarTema {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #FFC300, #FF5733);
}

#cambiarTema:hover {
  background-color: #FF5733;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Clase para el color original del botón */
.miBoton {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Clase para el color más oscuro del botón */
.miBoton.dark {
  background-color: #2E3769; /* Cambiar a un color más oscuro según tu paleta */
}

nav.sidebar #botonCambioTema {
  width: 100%; /* Ocupar todo el ancho disponible */
  margin-top: auto; /* Mover el botón hacia abajo */
}

#cambiarTema {
  width: 80%; /* Ajustar el ancho del botón */
  margin-bottom: 10px; /* Agregar espacio entre el botón y los elementos */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Sidebar */
nav.sidebar {
  width: 220px;
  background-color: var(--color-primario);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  height: 100%;
  top: 0;
  left: 135px; /* Posiciona el nav en el borde izquierdo */
  z-index: 1000;
  overflow-y: auto;
  box-shadow: var(--shadow);
}

nav.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente los elementos */
}

nav.sidebar ul li {
  padding: 10px 0;
}

nav.sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 8px;
  border-radius: var(--border-radius-default);
  transition: background-color 0.3s, padding 0.3s;
}

nav.sidebar a:hover {
  background-color: var(--color-secundario);
  padding-left: 10px;
}

.main-content {
  margin-left: 220px; /* Ajuste del espacio para alinear el contenido con el sidebar */
  padding: 30px;
}

/* Header */
header {
  display: flex;
  align-items: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: var(--shadow);
  margin-right: 15px;
}

.description {
  flex: 1;
}

.description h1 {
  font-size: 2em;
  margin-bottom: 8px;
}

.description p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.description a {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--color-primario);
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.description a:hover {
  background-color: var(--color-secundario);
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill {
  width: calc(50% - 10px);
  background-color: #fff;
  padding: 10px;
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow);
}

.skill h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
  color: var(--color-secundario); /* Cambiar el color del texto */
}

.skill-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 6px;
  height: 10px;
  position: relative;
  overflow: hidden;
}

.skill-level {
  width: 70%;
  height: 100%;
  background-color: var(--color-primario);
  position: relative;
  top: 0;
  left: 0;
  transition: width 1s ease;
}

/* Estilos para la habilidad HTML/CSS */
.skill .skill-level.html {
  width: 100%; /* Porcentaje de habilidad para HTML/CSS */
  background-color: var(--color-primario); /* Color de la barra HTML/CSS */
}

/* Estilos para la habilidad JavaScript */
.skill .skill-level.javascript {
  width: 90%; /* Porcentaje de habilidad para JavaScript */
  background-color: var(--color-secundario); /* Color de la barra JavaScript */
}

/* Estilos para la habilidad AngularJS */
.skill .skill-level.angularjs {
  width: 70%; /* Porcentaje de habilidad para AngularJS */
  background-color: var(--color-terciario); /* Color de la barra AngularJS */
}

/* Estilos para la habilidad PHP */
.skill .skill-level.php {
  width: 85%; /* Porcentaje de habilidad para PHP */
  background-color: #FF0000; /* Color de la barra PHP */
}

/* Estilos para el texto del porcentaje */
.percentage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px; /* Ajusta el espaciado del porcentaje */
  color: #fff; /* Color del texto del porcentaje */
  font-weight: bold;
  font-size: 0.8em; /* Tamaño del texto del porcentaje */
  text-align: center; /* Centra horizontalmente el texto */
  padding: 3px 8px; /* Añade espacio alrededor del texto */
  border-radius: 20px; /* Redondea los bordes del texto */
  transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves */
  white-space: nowrap; /* Evita que el texto se desborde */
}

/* Efecto al pasar el cursor sobre el porcentaje */
.percentage:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Cambia el color de fondo al pasar el cursor */
  color: #fff; /* Cambia el color del texto al pasar el cursor */
}



/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow);
  transition: transform 0.4s ease;
}

.service:last-child {
  margin-bottom: 0;
}

.service:hover {
  transform: translateY(-3px);
}

.service h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
  color: var(--color-primario);
}

.service p {
  font-size: 0.9em;
  line-height: 1.6;
  color: #555;
}

.service img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: var(--shadow);
}

/* Project Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.project {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  box-shadow: var(--shadow);
  width: 100%;
  aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */
  display: flex;
  align-items: center;
  justify-content: center;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}


.project:hover img {
  transform: scale(1.05);
}

/* Contact */
.contact-info {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 12px;
  padding: 10px;
  border: 2px solid var(--color-primario); /* Usar el color primario para el borde */
  border-radius: var(--border-radius-default);
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-secundario); /* Cambia el color al enfocar */
  box-shadow: 0 0 5px rgba(94, 114, 228, 0.5); /* Efecto sombra al enfocar */
}

/* Botón Enviar */
button {
  padding: 12px 24px;
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1em;
}

button:hover {
  background-color: var(--color-secundario);
  transform: scale(1.05); /* Aumenta un poco el tamaño al pasar el cursor */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* Ajustes generales */
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .main-content {
    padding: 20px;
  }

  nav.sidebar {
    width: 100%;
    left: 0;
  }

  /* Estilos del botón Cambiar Tema */
  #botonCambioTema {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #cambiarTema {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Ajustes de secciones individuales */

  /* Habilidades */
  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .skill {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Servicios */
  .services {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .service {
    margin-bottom: 20px;
    text-align: left;
  }

  /* Cuadrícula de proyectos */
  .project-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project {
    aspect-ratio: 1 / 1;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Formulario de contacto */
  .contact-info,
  form {
    max-width: 100%;
    margin-bottom: 20px;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }z

  button[type="submit"] {
    width: 100%;
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  button[type="submit"]:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
  }
}
#menuToggle {
  display: none;
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  border-radius: var(--border-radius-default);
}

@media screen and (max-width: 768px) {
  nav.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-primario);
    z-index: 1000;
    padding: 10px 0;
  }

  nav.sidebar ul {
    flex-direction: column;
    align-items: center;
  }

  #menuToggle {
    display: block;
  }

  .main-content {
    margin-left: 0;
    padding-top: 60px;
  }

  nav.sidebar.show {
    display: block;
  }
}


